<div class="container-fluid text-center">
    <h2 class="text-danger fw-bold"><i class="bi bi-file-earmark-pdf"></i> CENTRO DE REPORTES</h2>
    <div class="row mt-5">
        <div class="col-md-6">
            <button class="btn btn-outline-danger p-5 w-100">
                <i class="bi bi-file-pdf display-4"></i><br>Exportar PDF
            </button>
        </div>
        <div class="col-md-6">
            <button class="btn btn-outline-success p-5 w-100">
                <i class="bi bi-file-excel display-4"></i><br>Exportar Excel
            </button>
        </div>
    </div>
</div>